$color-title: #263238;
$color-light: #fff;
$color-text: #546e7a;
$color-link: #5c6bc0;;
$bg-color-btn: #00c853;
$bg-color-btn-hover: #00d458;
$bg-color-btn-press: #00ba4d;
$color-btn: #fff;
$color-btn-border: $color-text;
$color-btn-border-hover: $color-title;
$color-btn-border-press: #cfd8dc;
$color-border: #cfd8dc;
$color-border-light: #fff;
$color-border-dashed-light: rgba(255, 255, 255, .6);
$color-error: #e53935;
